<!DOCTYPE html>
<html>

<head>
    <title>your loan detail</title>
    <style>
        body {
            text-align: center;
            background: rgb(211, 221, 219);
        }
        h1 {
            color: rgb(128, 15, 0);
        }
    </style>

</head>

<body>
        <form  action="/higher_loan_details" method="post" >

    <h1>Welcome to Home Loan configration </h1>
    <h2>Thank you for took loan for us</h2>
   <p>Your Loan Price Is: <b>20 Lac</b></p>
   <p>In This Price Of Loan Your Intrest Rate is: <b>3%</b></p>
   <P>With Intrest Your Loan Price is : <b>20,60,000</b></P>
   <p>In This Loan You Have to Invest : <b>2 Lac</b></p>
   <p>You have to put every Month Your EMI. <br>This Loan EMI is : <b>48,365 Rs</b></p>
   <p>Your Loan Duration is: <b>3 Year 6 Month</b></p>
  
   <br>
   <br>
   <b>If You are agree to submit this REQUESTS:</b><br>
  
   <button type="submit" class="signupbtn">Submit

    <!-- <a href="http://localhost:5000/user_loan_submition">Submit</a> -->
</button>
</form>

</body>

</html>