<!DOCTYPE html>
<html>

<head>
    <title>Put Loan Detail </title>
    <style>
        body {
            text-align: center;
            background: rgb(42, 165, 144);
        }
        h1 {
            color: rgb(128, 15, 0);
        }
    </style>

</head>

<body>
    <h1>Welcome to our Loan detail page </h1>
    <h2>select your loan Price</h2>
    <br>

    <label for="browser">Which Price Loan do you want:</label>
    <br>
    <input list="browsers" name="browser" id="browser">
    <datalist id="browsers">
        <option value="20 Lac">
        <option value="10 Lac">
        <option value="5 Lac">
        <option value="2 Lac">
    </datalist>
    <input type="submit" value="Submit">
    <a href="http://localhost:5000/user_loan_intro"></a>
    

</body>

</html>