<form  action="/sign_up" method="post" >
        <div class="container">
          <h2>Welcome to LIC loan application</h2>
          <h2>Please Sign Up your LIC Loan application.</h2>
          <hr>
      
          <label for="name"><b>Name</b></label>
       <input type="text" placeholder="name" name="fullname" required>
      </br>
        <!-- <input type="submit" value="submit"> -->

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <br>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw_repeat" required>
          <br>
      
          <!-- <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label> -->

          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">
            <a href="http://localhost:5000/loan_intro">signUp</a></button>

          </div>
        </div>
      </form>

    