<!DOCTYPE html>
<html>

<head>
    <title>Loan Submision</title>
    <style>
        body {
            text-align: center;
            background: rgb(211, 221, 219);
        }
        h1 {
            color: rgb(128, 15, 0);
        }
    </style>

</head>

<body>
    <h1>Thank you For Loan Requests</h1>
    <b>Our Admin will "APPROVED" Your Loan Requests.if we will confirm your loan Request then<br> we will Sent you a Massage on your mobile number. </b>
  <br>
  <h3><B>Thank You</B></h3>
</button>

</body>

</html>