
<!DOCTYPE html> 
<html> 
    <head> 
        <title>option tag</title> 
        <style> 
            body { 
                text-align:center; 
                background: rgb(42, 165, 104);
            } 
            h1 { 
                color:rgb(128, 15, 0); 
            } 
        </style> 
    </head> 
    <body> 
        <h1>Welcome to Our LIC loan </h1> 
        <h2> Choose the loan type which type of loan do you want</h2> 
        <br>

        <label for="browser">We have Three type of loan select which type of do you want:</label>
        <br>
        <input list="browsers" name="browser" id="browser">
        <datalist id="browsers">
            <option value="Home">
            <option value="Vahicle">
            <option value="business">
        </datalist>
        <button>
        <!-- <input type="submit"> -->

        <a href="http://localhost:5000/user_loan_intro">Submit</a>
            </button>
    </body> 
</html>    